$primaryColor: #001529;
$secondaryColor: red;

// FONTS

$primaryFontColor: $primaryColor;
$reverseFontColor: rgba(
  $color: white,
  $alpha: 0.75,
);
$emphasizedReverseFontColor: white;

// SECTIONS and PANELS

$borderColor: rgba(
  $color: $primaryColor,
  $alpha: 0.5,
);
$highlightColor: rgba(
  $color: $primaryColor,
  $alpha: 0.1,
);

// FORMS and FIELDS

$fieldBorderColor: #d9d9d9;
