@import 'styles/variables.scss';

.bg-tags-selector {
  display: flex;

  .field-label {
    flex: 1 1 30%;
  }

  .ant-select.ant-select-multiple {
    flex: 1 1 70%;

    &:hover {
      border-color: $fieldBorderColor;

      .ant-select-selector {
        border-color: $fieldBorderColor;
      }
    }

    &.ant-select-focused {
      .ant-select-selector {
        border-color: $fieldBorderColor;
        box-shadow: none;
      }
    }
  }
}
