@import 'styles/variables.scss';

.bg-search-input {
  .ant-input {
    height: 32px;

    &:hover,
    &:focus {
      border-color: $fieldBorderColor;
      outline: none;
      box-shadow: none;
      border-right: none;
    }
  }

  .ant-input-group-addon {
    .ant-input-search-button {
      border-left: none;

      &:hover,
      &:focus,
      &:active {
        border-color: $fieldBorderColor;
        outline: none;
        box-shadow: none;
        border-left: none;
      }

      &::after {
        display: none;
      }
    }

    .anticon-search {
      &:hover {
        svg {
          fill: $primaryColor;
        }
      }
    }
  }
}
