.library-filter {
  padding: 20px;

  .filter-header {
    margin-bottom: 16px;
  }

  .filters {
    margin-bottom: 32px;

    .filter-groups {
      > div {
        margin-bottom: 8px;
      }

      &.main-filters {
        margin-bottom: 32px;
      }

      &.secondary-filters {
        > div {
          margin-bottom: 12px;
        }
      }
    }
  }

  .filter-action {
    display: flex;

    > div {
      flex: 1 1 auto;

      &:not(:last-child) {
        margin-right: 4px;
      }

      &:not(:first-child) {
        margin-left: 4px;
      }
    }
  }
}
